#### Modules

Python includes a lot of functionality "out of the box", but one of its biggest assets is the amount of extra functionality that other people have built that you can use almost immediately.    

In order not to have a million things preloaded into Python, additional code is placed into units called modules. If you want to use the code, you'll have to import the module.    

One very common module is math. Here's how we can import it:

In [1]:
import math

The math module defines some useful constants and functions. If we want to use them, we have to prepend math. to their names. That tells Python to look for a variables inside a particular module:

In [2]:
print("The area of the circle is {0}".format(math.pi * 10**2))

The area of the circle is 314.159265359

#### Ex Using functions in math, calculate sin(30∘), (√5) and e2.5

You can, but rarely should, import everything inside a module like this:

In [3]:
from math import *

You can also import one module but rename it for convenience in your code:

In [4]:
import math as m
m.pi * 10**2

314.1592653589793

### Regular expressions

Regular expressions are useful at extracting information from textual data. Python's re module provides support for these expressions.

In [5]:
import re

The function re.match tests if a string matches a particular regular expression. Here's a (very fragile) way of identifying a phone number:

In [6]:
phone = "+32-123-456789"
if re.match(r'\+\d{2}-\d{3}-\d{4}', phone):  # Note use of raw string
    its_a_phone = True
else:
    its_a_phone = False
print("The string '{0}' is a phone number? {1}".format(phone, its_a_phone))

The string '+32-123-456789' is a phone number? True

In [7]:
phone = "+32-abc-456789"
if re.match(r'\+\d{2}-\d{3}-\d{4}', phone):
    its_a_phone = True
else:
    its_a_phone = False
print("The string '{0}' is a phone number? {1}".format(phone, its_a_phone))

The string '+32-abc-456789' is a phone number? False

You can also use regular expressions to extract fields from a structured string. For example, ISO datetimes in the UTC timezone always look like this:    

        2015-12-05T16:32:57Z

In [8]:
datetime_str = "2015-12-05T16:32:57Z"
m = re.match(r'(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2})Z', datetime_str)
if m:
    year, month, day, hour, minute, second = m.groups()
    print("The year is {0}".format(year))
else:
    print("Failed to match")

The year is 2015

### Dates and times

The datetime module provides functions for dealing with dates, time and time offsets.

In [9]:
from datetime import date, time, datetime, timedelta

In [10]:
a_date = date(2015, 12, 5)
print(a_date)

2015-12-05

In [11]:
a_time = time(16, 32, 57)
print(a_time)

16:32:57

In [12]:
a_datetime = datetime(2015, 12, 5, 16, 32, 57)
print(a_datetime)

2015-12-05 16:32:57

In [13]:
datetime.now()

datetime.datetime(2016, 5, 19, 23, 58, 10, 716000)

In [14]:
delta = datetime.now() - a_datetime
print(delta)

166 days, 7:25:18.950000

In [15]:
type(delta)

datetime.timedelta

In [16]:
now = datetime.now()
an_hour_later = now + timedelta(hours=1)
print("Now: {0}, An hour later: {1}".format(now, an_hour_later))

Now: 2016-05-19 23:58:36.874000, An hour later: 2016-05-20 00:58:36.874000

In [17]:
# Print out a datetime just how we want it.
# Details at http://strftime.org/
now.strftime("%a %-d %B, %Y at %-I:%M:%S %p")

ValueError: Invalid format string

In [18]:
# Parse a datetime string into the equivalent datetime object
x = datetime.strptime('Sat 5 December, 2015 at 4:40:04 PM',
                      "%a %d %B, %Y at %I:%M:%S %p")
x

datetime.datetime(2015, 12, 5, 16, 40, 4)

In [19]:
# Calculate the start of the month
now = datetime.now()
start_of_month = datetime(now.year, now.month, 1, 0, 0, 0)
print(start_of_month)

2016-05-01 00:00:00

#### Scripts with arguments

### Functions

So far, we've been writing snippets of code here and there with little structure. It's time to learn how to abstract this functionality with a name.    

We've seen how to add the numbers from 1 to n many times now. Let's build a function to do it once and for all:

In [20]:
def sum_nums(n):
    # Avoiding list comprehensions on purpose to make the function longer
    total = 0
    for i in range(1, n+1):
        total = total + i
    return total

Notice a few things:
* Use def to introduce the definition
* The parameters are listed in parentheses after the function name
* The body of the function is all indented
* Use return to return a given value to the function caller    

Let's use this function a few times:

In [21]:
sum_nums(10)

55

In [22]:
sum_nums(10) * sum_nums(5)

825

In [23]:
[sum_nums(i) for i in range(10)]

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

#### Ex Previously, we wrote some code to count the frequencies of words in a string. Turn it into a function that you can invoke like this: freqs_of_words("I love love love New York")

In [30]:
def freqs_of_words(words):
    b=words.split()
    c=set(b)
    return len(c)

freqs_of_words("I love love love New York")

4

There are only a few more things to learn about functions. First, functions can take more than one parameter:

In [31]:
def add_nums(a, b):
    return a + b

In [32]:
add_nums(2, 3) * add_nums(5, 5)

50

When you call a function, you can specify the parameter names explicitly and so vary the order:

In [33]:
def subtract(a, b):
    return a - b

In [34]:
subtract(5, 3)

2

In [35]:
subtract(5, b=3)

2

In [36]:
subtract(a=5, b=3)

2

In [37]:
subtract(b=5, a=3)

-2

You can also give functions an arbitrary number of arguments, which are passed to a function as a tuple:

In [38]:
def add_many(*args):
    print args
    
    total = 0
    for i in args:
        total = total + i
    return total

In [39]:
add_many()

()

0

In [40]:
add_many(1)

(1,)

1

In [41]:
add_many(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

And if you have a list or a tuple to begin with, you can tell Python to use that as the argument list:

In [42]:
duo = (2,5)
add_nums(*duo)

7

In [43]:
l = [i*i for i in range(10)]
add_many(*l)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

285

Functions can have default argument values, and you can then omit the parameters:

In [44]:
def join_strings(strings, delimiter=","):
    return delimiter.join(strings)

In [45]:
join_strings(["one", "two"])

'one,two'

In [46]:
join_strings(["one", "two"], " and ")

'one and two'

And as before, you can specify the name of the parameters in the function call:

In [47]:
join_strings(["one", "two"], delimiter="---")

'one---two'